<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='css/gethy.css') }}" rel="stylesheet"></link>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
         {% set navigation_bar = [
            ('/', 'home', 'Home'),
            ('/about', 'about', 'About'),
            ('/contact', 'contact', 'Contact')
        ] -%}
        {% set active_page = active_page|default('home') -%}
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
        </ul>     
        <h3 class="text-muted">hy</h3>
      </div>

{% block content %}
{% endblock %}

      <div class="footer">
        <p>&copy; Hy Contributors 2014</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
