<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='css/gethy.css') }}" rel="stylesheet"></link>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">hy</h3>
      </div>

{% block content %}
{% endblock %}

      <div class="footer">
        <p>&copy; Hy Contributors 2014</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
