{% extends "base.html" %}


{% block content %}
      <div class="jumbotron">
        <!-- <h1>Install Hy</h1>
        <p class="lead">Want to get Hy? Heck yes you do.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Lets get Hy</a></p>
        <img src="{{ url_for('static', filename='imgs/cuddles-transparent-small.png') }}" alt="Install Hy" /> -->
        <img width="100%" src="{{ url_for('static', filename='imgs/hy-logo-full.png') }}" alt="Install Hy" />
      </div>

      <script type="text/javascript" src="https://asciinema.org/a/10966.js" id="asciicast-10966" data-autoplay="1" async></script>

      <div class="row marketing">
        <div class="col-lg-6">
          <p>
          <h4 class="install"><img class="install-logo" src="{{ url_for('static', filename='imgs/debian.png') }}" /></h4>
          <code>sudo apt-get install hy</code>
          </p>

          <p>
          <h4 class="install"><img class="install-logo" src="{{ url_for('static', filename='imgs/gentoo.png') }}" /></h4>
          <code>sudo emerge dev-lang/hy</code>
          <div>Thanks to Patrick Lauer for this!</div>
          </p>

        </div>

        <div class="col-lg-6">
          <p>
          <h4 class="install"><img class="install-logo" src="{{ url_for('static', filename='imgs/docker.png') }}" /></h4>
          <code>docker run -it hylang</code>
          </p>
          
          <p>
          <h4 class="install"><img class="install-logo" src="{{ url_for('static', filename='imgs/arch.png') }}" /></h4>
          <code>yaourt -S hy.git</code>
          </p>

          <p>
          <h4 class="install"><img class="install-logo" src="{{ url_for('static', filename='imgs/git.png') }}" /></h4>
          <code>git clone git://github.com/hylang/hy.git</code>
          </p>
        </div>
      </div>
{% endblock %}
